.white-color {
     color:  #1010cb;
    
     font-size: 2rem;
}
 
.alignVideo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alignControllers{
  display:flex;
  justify-content: space-evenly;
  width: 30%;
  flex-direction: row;
  margin-top: 1rem;
  /* background-color:black; */
}